
.btn-remove-cart{
    background-color: brown !important;
  }
  
  .pcard {
    padding: 20px;
    margin: 30px;
  }
  
  .pcard img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
  }
  
  .pcard img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
  }