.footer-bg{
    background-color: black;
    color: white;
    border-radius: 5px;
}
.footer-headings
{
  color: white !important;
    
} 

li a:hover {
  color: white !important;
  font-weight: bold;
}

